@page "/"

<div class="jumbotron jumbotron-fluid hero px-4 py-5 text-center">
    <div class="container">
        <h1 class="display-4">Gestore Portate</h1>
        <p class="lead">Benvenuto nel Gestore Portate, l'applicazione sviluppata che ti permette di gestire con facilità le portate del tuo locale!</p>
    </div>
</div>

<div class="row">

    <Card img="img/portata.jpg"
          titolo="Gestore portate"
          testo="Il gestore di portate permette di aggiungere, modificare e cancellare le portate."
          linkPagina="portate" />

</div>
